.copilot-and-copilot {
  width: 1920px;
  height: 1200px;
  background-color: var(--soshkcomwhite);
}

.copilot-and-copilot .container-212 {
  height: 3896px;
}

.copilot-and-copilot .overlap-8 {
  position: relative;
  width: 1920px;
  height: 3896px;
}

.copilot-and-copilot .container-213 {
  position: absolute;
  width: 1920px;
  height: 1px;
  top: 0;
  left: 0;
}

.copilot-and-copilot .background-26 {
  height: 3896px;
  background-color: #fdfdfd;
}

.copilot-and-copilot .container-214 {
  position: absolute;
  width: 1920px;
  height: 3896px;
  top: 0;
  left: 0;
}

.copilot-and-copilot .main-5 {
  display: flex;
  flex-direction: column;
  width: 1920px;
  min-height: 40px;
  align-items: flex-start;
  position: absolute;
  top: 79px;
  left: 0;
}

.copilot-and-copilot .div-9 {
  display: flex;
  flex-direction: column;
  min-width: 980px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .container-215 {
  position: absolute;
  width: 1920px;
  height: 590px;
  top: 0;
  left: 0;
  background-color: #fdfdfd;
}

.copilot-and-copilot .container-216 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 589.73px;
}

.copilot-and-copilot .overlap-group-12 {
  position: relative;
  width: 1920px;
  height: 590px;
}

.copilot-and-copilot .section-margin-5 {
  display: flex;
  flex-direction: column;
  width: 1920px;
  align-items: flex-start;
  padding: 0px 0px 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.copilot-and-copilot .section-32 {
  display: flex;
  min-width: 980px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .container-217 {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: var(--wwwmwssoshkcombroom);
}

.copilot-and-copilot .section-margin-6 {
  display: flex;
  flex-direction: column;
  width: 1450px;
  align-items: flex-start;
  padding: 150px 0px 1px 470px;
  position: absolute;
  top: 0;
  left: 0;
}

.copilot-and-copilot .section-33 {
  display: flex;
  width: 980px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .container-218 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.copilot-and-copilot .container-219 {
  position: absolute;
  width: 980px;
  height: 439px;
  top: 0;
  left: 0;
  background-color: #fdfdfd;
}

.copilot-and-copilot .container-220 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 438.73px;
}

.copilot-and-copilot .margin-81 {
  display: flex;
  flex-direction: column;
  width: 694px;
  align-items: flex-start;
  padding: 80px 0px 40px;
  position: absolute;
  top: 0;
  left: 128px;
}

.copilot-and-copilot .container-221 {
  display: flex;
  flex-direction: column;
  width: 694px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .heading-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .text-wrapper-86 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 700;
  color: #f2e84f;
  font-size: 56px;
  letter-spacing: 0;
  line-height: normal;
}

.copilot-and-copilot .margin-82 {
  display: flex;
  width: 694px;
  padding: 0px 0px 64px;
  position: absolute;
  top: 192px;
  left: 128px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-222 {
  display: flex;
  flex-direction: column;
  width: 694px;
  align-items: flex-start;
  gap: 23.39px;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .paragraph-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .text-wrapper-87 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 500;
  color: #464646;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.copilot-and-copilot .text-wrapper-88 {
  position: relative;
  width: fit-content;
  font-family: "Rajdhani", Helvetica;
  font-weight: 500;
  color: #464646;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.copilot-and-copilot .horizontal-border-wrapper {
  display: flex;
  width: 980px;
  height: 19px;
  padding: 0px 0px 14px;
  position: absolute;
  top: 420px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .horizontal-border {
  position: relative;
  width: 980px;
  height: 5px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #090909;
}

.copilot-and-copilot .section-34 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 17px 596px 56px 566px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .container-223 {
  display: flex;
  flex-direction: column;
  width: 758px;
  height: 384px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.copilot-and-copilot .screenshot-2 {
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/screenshot-2025-03-12-113140-png.png);
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-size: cover;
  background-position: 50% 50%;
}

.copilot-and-copilot .section-35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 46px 607px 59px 599px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .container-224 {
  display: flex;
  flex-direction: column;
  width: 714px;
  height: 352px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.copilot-and-copilot .screenshot-3 {
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/screenshot-2025-03-12-113923-png.png);
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-size: cover;
  background-position: 50% 50%;
}

.copilot-and-copilot .container-225 {
  position: absolute;
  width: 1920px;
  height: 1483px;
  top: 0;
  left: 0;
  background-color: #fdfdfd;
}

.copilot-and-copilot .container-226 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1482.75px;
}

.copilot-and-copilot .margin-83 {
  display: flex;
  width: 1300px;
  min-height: 41px;
  padding: 8px 0px 15px 470px;
  position: absolute;
  top: 0;
  left: 75px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-227 {
  display: flex;
  flex-direction: column;
  width: 830px;
  min-height: 18px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .heading-15 {
  gap: 2.19px;
  padding: 2px 0px 0.19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .text-wrapper-89 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 600;
  color: var(--wwwmwssoshkcombuttercup);
  font-size: 38px;
  letter-spacing: 0;
  line-height: 53.2px;
  white-space: nowrap;
}

.copilot-and-copilot .text-wrapper-90 {
  position: relative;
  width: fit-content;
  font-family: "Rajdhani", Helvetica;
  font-weight: 600;
  color: var(--wwwmwssoshkcombuttercup);
  font-size: 38px;
  letter-spacing: 0;
  line-height: 53.2px;
  white-space: nowrap;
}

.copilot-and-copilot .margin-84 {
  display: flex;
  width: 1312px;
  padding: 0px 0px 29px 470px;
  position: absolute;
  top: 135px;
  left: 67px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-228 {
  display: flex;
  flex-direction: column;
  width: 842px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .paragraph-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.19px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .text-wrapper-91 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 500;
  color: #090909;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25.2px;
  white-space: nowrap;
}

.copilot-and-copilot .text-wrapper-92 {
  position: relative;
  width: fit-content;
  font-family: "Rajdhani", Helvetica;
  font-weight: 500;
  color: #090909;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25.2px;
  white-space: nowrap;
}

.copilot-and-copilot .overlap-9 {
  position: absolute;
  width: 1260px;
  height: 1266px;
  top: 217px;
  left: 119px;
}

.copilot-and-copilot .margin-85 {
  display: flex;
  width: 1225px;
  height: 1266px;
  padding: 0px 0px 43px 470px;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-229 {
  position: relative;
  width: 755px;
  height: 1223px;
}

.copilot-and-copilot .container-230 {
  height: 1223px;
}

.copilot-and-copilot .component-49 {
  width: 755px;
  height: 1225px;
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/group.png);
  background-size: 100% 100%;
}

.copilot-and-copilot .margin-86 {
  display: flex;
  width: 780px;
  padding: 49px 0px 51px 470px;
  position: absolute;
  top: 0;
  left: 214px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-231 {
  display: flex;
  flex-direction: column;
  width: 310px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .div-wrapper-17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .text-wrapper-93 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 600;
  color: #464646;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25.2px;
}

.copilot-and-copilot .margin-87 {
  display: flex;
  width: 1225px;
  padding: 0px 0px 10px 470px;
  position: absolute;
  top: 126px;
  left: 35px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-232 {
  display: flex;
  flex-direction: column;
  width: 755px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .container-233 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1061.91px;
}

.copilot-and-copilot .margin-88 {
  display: flex;
  width: 147px;
  min-height: 129px;
  padding: 0px 0px 22px;
  position: absolute;
  top: 0;
  left: 14px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-234 {
  display: flex;
  flex-direction: column;
  width: 147px;
  min-height: 107px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .text-wrapper-94 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--www-mws-soshk-com-raleway-bold-font-family);
  font-weight: var(--www-mws-soshk-com-raleway-bold-font-weight);
  color: #464646;
  font-size: var(--www-mws-soshk-com-raleway-bold-font-size);
  letter-spacing: var(--www-mws-soshk-com-raleway-bold-letter-spacing);
  line-height: var(--www-mws-soshk-com-raleway-bold-line-height);
  font-style: var(--www-mws-soshk-com-raleway-bold-font-style);
}

.copilot-and-copilot .margin-89 {
  display: flex;
  width: 444px;
  padding: 31px 0px 18px;
  position: absolute;
  top: 0;
  left: 166px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-235 {
  display: flex;
  flex-direction: column;
  width: 444px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .text-wrapper-95 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--www-mws-soshk-com-semantic-heading-5-font-family);
  font-weight: var(--www-mws-soshk-com-semantic-heading-5-font-weight);
  color: var(--wwwmwssoshkcompurple-heart);
  font-size: var(--www-mws-soshk-com-semantic-heading-5-font-size);
  letter-spacing: var(--www-mws-soshk-com-semantic-heading-5-letter-spacing);
  line-height: var(--www-mws-soshk-com-semantic-heading-5-line-height);
  font-style: var(--www-mws-soshk-com-semantic-heading-5-font-style);
}

.copilot-and-copilot .margin-90 {
  display: flex;
  width: 554px;
  padding: 0px 0px 37px;
  position: absolute;
  top: 78px;
  left: 166px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-236 {
  display: flex;
  flex-direction: column;
  width: 554px;
  align-items: flex-start;
  padding: 0px 0px 0px 8px;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .list-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0px 20.8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .item {
  height: 23.39px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.copilot-and-copilot .overlap-group-13 {
  position: relative;
  width: 525px;
  height: 23px;
}

.copilot-and-copilot .text-25 {
  position: absolute;
  width: 7px;
  height: 21px;
  top: 0;
  left: 0;
  font-family: "Rajdhani", Helvetica;
  font-weight: 500;
  color: #464646;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.copilot-and-copilot .container-237 {
  display: flex;
  flex-direction: column;
  width: 525px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.copilot-and-copilot .item-2 {
  height: 23.39px;
  margin-top: -1.28e-13px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.copilot-and-copilot .margin-91 {
  display: flex;
  width: 127px;
  position: absolute;
  top: 190px;
  left: 14px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-238 {
  display: flex;
  flex-direction: column;
  width: 127px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .margin-92 {
  display: flex;
  width: 1px;
  height: 36px;
  padding: 0px 0px 0px 48px;
  position: absolute;
  top: 162px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-239 {
  position: relative;
  width: 48px;
  height: 36px;
  margin-right: -95.00px;
  transform: rotate(180deg);
}

.copilot-and-copilot .group-wrapper {
  position: relative;
  height: 36px;
}

.copilot-and-copilot .group {
  position: absolute;
  width: 48px;
  height: 36px;
  top: 0;
  left: 0;
  transform: rotate(-180deg);
}

.copilot-and-copilot .margin-93 {
  display: flex;
  width: 444px;
  padding: 36px 0px 22px;
  position: absolute;
  top: 190px;
  left: 166px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .margin-94 {
  display: flex;
  width: 495px;
  padding: 0px 0px 10px;
  position: absolute;
  top: 277px;
  left: 166px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-240 {
  display: flex;
  flex-direction: column;
  width: 495px;
  align-items: flex-start;
  padding: 0px 0px 0px 8px;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .list-9 {
  flex-direction: column;
  padding: 0px 5.68e-14px 0px 20.8px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.copilot-and-copilot .item-3 {
  height: 44.78px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.copilot-and-copilot .overlap-group-14 {
  position: relative;
  width: 466px;
  height: 46px;
  top: -1px;
}

.copilot-and-copilot .text-26 {
  position: absolute;
  width: 7px;
  height: 19px;
  top: 1px;
  left: 0;
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #464646;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.copilot-and-copilot .office-health-wrapper {
  display: flex;
  flex-direction: column;
  width: 466px;
  align-items: flex-start;
  padding: 0px 0px 0.58px;
  position: absolute;
  top: 0;
  left: 0;
}

.copilot-and-copilot .office-health {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--www-mws-soshk-com-semantic-item-font-family);
  font-weight: var(--www-mws-soshk-com-semantic-item-font-weight);
  color: #464646;
  font-size: var(--www-mws-soshk-com-semantic-item-font-size);
  letter-spacing: var(--www-mws-soshk-com-semantic-item-letter-spacing);
  line-height: var(--www-mws-soshk-com-semantic-item-line-height);
  font-style: var(--www-mws-soshk-com-semantic-item-font-style);
}

.copilot-and-copilot .item-4 {
  height: 22.39px;
  margin-top: -2.56e-13px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.copilot-and-copilot .overlap-10 {
  position: relative;
  width: 466px;
  height: 23px;
  top: -1px;
}

.copilot-and-copilot .container-241 {
  display: flex;
  flex-direction: column;
  width: 466px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.copilot-and-copilot .text-wrapper-96 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--www-mws-soshk-com-semantic-item-font-family);
  font-weight: var(--www-mws-soshk-com-semantic-item-font-weight);
  color: #464646;
  font-size: var(--www-mws-soshk-com-semantic-item-font-size);
  letter-spacing: var(--www-mws-soshk-com-semantic-item-letter-spacing);
  line-height: var(--www-mws-soshk-com-semantic-item-line-height);
  white-space: nowrap;
  font-style: var(--www-mws-soshk-com-semantic-item-font-style);
}

.copilot-and-copilot .margin-95 {
  display: flex;
  width: 1px;
  height: 69px;
  padding: 0px 0px 32px 48px;
  position: absolute;
  top: 354px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .margin-96 {
  display: flex;
  width: 156px;
  padding: 0px 0px 35px;
  position: absolute;
  top: 423px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-242 {
  display: flex;
  flex-direction: column;
  width: 156px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .overlap-11 {
  position: absolute;
  width: 594px;
  height: 175px;
  top: 423px;
  left: 161px;
}

.copilot-and-copilot .margin-97 {
  display: flex;
  width: 594px;
  padding: 46px 0px 20px;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-243 {
  display: flex;
  flex-direction: column;
  width: 594px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .margin-98 {
  display: flex;
  width: 533px;
  padding: 0px 0px 51px;
  position: absolute;
  top: 94px;
  left: 16px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-244 {
  display: flex;
  flex-direction: column;
  width: 533px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .container-245 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0.8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .text-wrapper-97 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #464646;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28.8px;
}

.copilot-and-copilot .margin-99 {
  display: flex;
  width: 1px;
  height: 36px;
  padding: 0px 0px 0px 48px;
  position: absolute;
  top: 598px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .margin-100 {
  display: flex;
  width: 141px;
  min-height: 70px;
  position: absolute;
  top: 634px;
  left: 6px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-246 {
  display: flex;
  flex-direction: column;
  width: 141px;
  min-height: 107px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .margin-101 {
  display: flex;
  width: 444px;
  padding: 44px 0px 30px;
  position: absolute;
  top: 634px;
  left: 161px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .margin-102 {
  display: flex;
  width: 554px;
  padding: 0px 0px 24px;
  position: absolute;
  top: 737px;
  left: 161px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .item-5 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 22.39px;
}

.copilot-and-copilot .overlap-group-15 {
  position: relative;
  width: 525px;
  height: 23px;
  top: -1px;
}

.copilot-and-copilot .text-27 {
  position: absolute;
  width: 7px;
  height: 21px;
  top: 1px;
  left: 0;
  font-family: "Rajdhani", Helvetica;
  font-weight: 500;
  color: #464646;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.copilot-and-copilot .item-6 {
  height: 22.39px;
  margin-top: -1.28e-13px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.copilot-and-copilot .margin-103 {
  display: flex;
  width: 1px;
  height: 45px;
  padding: 0px 0px 8px 48px;
  position: absolute;
  top: 806px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .margin-104 {
  display: flex;
  width: 135px;
  min-height: 66px;
  position: absolute;
  top: 851px;
  left: 9px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-247 {
  display: flex;
  flex-direction: column;
  width: 135px;
  min-height: 107px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .margin-105 {
  display: flex;
  width: 444px;
  padding: 46px 0px 24px;
  position: absolute;
  top: 851px;
  left: 166px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-248 {
  display: flex;
  flex-direction: column;
  width: 554px;
  align-items: flex-start;
  padding: 0px 0px 0px 8px;
  position: absolute;
  top: 950px;
  left: 166px;
}

.copilot-and-copilot .section-36 {
  display: flex;
  flex-direction: column;
  min-width: 980px;
  align-items: flex-start;
  padding: 4px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .container-249 {
  position: absolute;
  width: 1920px;
  height: 339px;
  top: 0;
  left: 0;
  background-color: #fdfdfd;
}

.copilot-and-copilot .container-250 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.copilot-and-copilot .container-251 {
  display: flex;
  flex-direction: column;
  width: 958.05px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}

.copilot-and-copilot .container-252 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 331px;
}

.copilot-and-copilot .margin-106 {
  display: flex;
  width: 635px;
  min-height: 229px;
  padding: 65px 0px 0px 234.52px;
  position: absolute;
  top: 0;
  left: 44px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-253 {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 164px;
  align-items: flex-start;
  gap: 22.4px;
  padding: 0px 0px 42.43px;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .container-254 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .text-wrapper-98 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 500;
  color: var(--wwwmwssoshkcompurple-heart);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.copilot-and-copilot .paragraph-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .text-wrapper-99 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 500;
  color: #090909;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.copilot-and-copilot .text-wrapper-100 {
  position: relative;
  width: fit-content;
  font-family: "Rajdhani", Helvetica;
  font-weight: 500;
  color: #090909;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.copilot-and-copilot .margin-107 {
  display: flex;
  width: 377px;
  height: 102px;
  padding: 0px 0px 60px 234.52px;
  position: absolute;
  top: 229px;
  left: 163px;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-255 {
  display: flex;
  flex-direction: column;
  width: 142px;
  height: 42px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.copilot-and-copilot .component-50 {
  display: flex;
  flex-direction: column;
  min-width: 10px;
  min-height: 10px;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 5px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #464646;
}

.copilot-and-copilot .container-256 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 32.72px 0px 28.7px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.copilot-and-copilot .container-257 {
  display: inline-flex;
  flex-direction: column;
  min-width: 25.2px;
  max-width: 132px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  margin-left: -0.21px;
  margin-right: -0.21px;
}

.copilot-and-copilot .text-28 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--www-mws-soshk-com-inter-regular-font-family);
  font-weight: var(--www-mws-soshk-com-inter-regular-font-weight);
  color: #fdfdfd;
  font-size: var(--www-mws-soshk-com-inter-regular-font-size);
  text-align: center;
  letter-spacing: var(--www-mws-soshk-com-inter-regular-letter-spacing);
  line-height: var(--www-mws-soshk-com-inter-regular-line-height);
  font-style: var(--www-mws-soshk-com-inter-regular-font-style);
}

.copilot-and-copilot .container-258 {
  position: relative;
  align-self: stretch;
  width: 961.95px;
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/wow-image---screenshot-2025-03-12-115121-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.copilot-and-copilot .container-259 {
  position: absolute;
  width: 1920px;
  height: 388px;
  top: 4px;
  left: 0;
  overflow: hidden;
}

.copilot-and-copilot .background-27 {
  height: 407px;
  background-color: #fdfdfd;
}

.copilot-and-copilot .container-wrapper-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .container-260 {
  position: relative;
  align-self: stretch;
  width: 961.95px;
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/wow-image---screenshot-2025-03-12-115414-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.copilot-and-copilot .container-261 {
  display: flex;
  flex-direction: column;
  min-height: 407px;
  align-items: center;
  gap: 5.68e-14px;
  padding: 0px 263.53px 56.81px 29px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .margin-108 {
  display: flex;
  width: 665.52px;
  min-height: 225px;
  padding: 40px 0px 21px 234.52px;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .container-262 {
  display: flex;
  flex-direction: column;
  width: 431px;
  min-height: 164px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .paragraph-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  padding: 28.69px 0px 0.5px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.copilot-and-copilot .text-wrapper-101 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--www-mws-soshk-com-rajdhani-medium-font-family);
  font-weight: var(--www-mws-soshk-com-rajdhani-medium-font-weight);
  color: #464646;
  font-size: var(--www-mws-soshk-com-rajdhani-medium-font-size);
  text-align: center;
  letter-spacing: var(--www-mws-soshk-com-rajdhani-medium-letter-spacing);
  line-height: var(--www-mws-soshk-com-rajdhani-medium-line-height);
  white-space: nowrap;
  font-style: var(--www-mws-soshk-com-rajdhani-medium-font-style);
}

.copilot-and-copilot .text-wrapper-102 {
  position: relative;
  width: fit-content;
  font-family: var(--www-mws-soshk-com-rajdhani-medium-font-family);
  font-weight: var(--www-mws-soshk-com-rajdhani-medium-font-weight);
  color: #464646;
  font-size: var(--www-mws-soshk-com-rajdhani-medium-font-size);
  text-align: center;
  letter-spacing: var(--www-mws-soshk-com-rajdhani-medium-letter-spacing);
  line-height: var(--www-mws-soshk-com-rajdhani-medium-line-height);
  white-space: nowrap;
  font-style: var(--www-mws-soshk-com-rajdhani-medium-font-style);
}

.copilot-and-copilot .margin-109 {
  display: flex;
  width: 376.52px;
  height: 52px;
  padding: 0px 0px 10px 234.52px;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .text-29 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #fdfdfd;
  font-size: 13.1px;
  text-align: center;
  letter-spacing: 0;
  line-height: 13.1px;
}

.copilot-and-copilot .text-wrapper-103 {
  font-family: var(--www-mws-soshk-com-inter-regular-font-family);
  font-weight: var(--www-mws-soshk-com-inter-regular-font-weight);
  color: #fdfdfd;
  font-size: var(--www-mws-soshk-com-inter-regular-font-size);
  letter-spacing: var(--www-mws-soshk-com-inter-regular-letter-spacing);
  font-style: var(--www-mws-soshk-com-inter-regular-font-style);
  line-height: var(--www-mws-soshk-com-inter-regular-line-height);
}

.copilot-and-copilot .footer-3 {
  position: absolute;
  width: 1920px;
  height: 85px;
  top: 3811px;
  left: 0;
}

.copilot-and-copilot .header-6 {
  display: flex;
  flex-direction: column;
  width: 1860px;
  height: 100px;
  align-items: flex-start;
  padding: 21.45px 32px 21.46px;
  position: absolute;
  top: -50px;
  left: 60px;
  background-color: #ffffff;
}

.copilot-and-copilot .container-263 {
  display: flex;
  height: 19px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.copilot-and-copilot .container-264 {
  display: flex;
  width: 108.61px;
  height: 66px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: -47.00px;
}

.copilot-and-copilot .container-265 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.copilot-and-copilot .container-266 {
  display: flex;
  flex-direction: column;
  max-width: 108.61px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.copilot-and-copilot .link-9 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .SOS-group-limited-7 {
  position: relative;
  max-width: 108.61px;
  width: 46.89px;
  max-height: 46.4px;
  height: 46.39px;
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/sos-group-limited-7.png);
  background-size: cover;
  background-position: 50% 50%;
}

.copilot-and-copilot .container-267 {
  display: flex;
  width: 450.86px;
  height: 66px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: -47.00px;
}

.copilot-and-copilot .container-268 {
  display: flex;
  flex-direction: column;
  max-width: 450.86px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.copilot-and-copilot .text-wrapper-104 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 700;
  color: #727171;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
}

.copilot-and-copilot .container-269 {
  display: flex;
  width: 1230.5px;
  height: 66px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: -47.00px;
}

.copilot-and-copilot .container-270 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0px -0.02px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.copilot-and-copilot .margin-110 {
  display: inline-flex;
  max-width: 1230.5px;
  padding: 8px 0px;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .div-wrapper-18 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  flex: 0 0 auto;
}

.copilot-and-copilot .list-10 {
  width: 804px;
  height: 27px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.copilot-and-copilot .component-51 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 20.8px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -19.00px;
  z-index: 5;
}

.copilot-and-copilot .text-30 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  line-height: 13px;
}

.copilot-and-copilot .text-wrapper-105 {
  font-weight: 600;
  letter-spacing: 0.13px;
  line-height: 19.5px;
}

.copilot-and-copilot .component-52 {
  z-index: 4;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 20.8px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -19.00px;
}

.copilot-and-copilot .text-31 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  color: #182124;
  font-size: 13px;
  line-height: 13px;
}

.copilot-and-copilot .component-53 {
  z-index: 3;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 20.8px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -19.00px;
}

.copilot-and-copilot .component-54 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 20.8px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -19.00px;
  z-index: 2;
}

.copilot-and-copilot .component-55 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 20.8px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -19.00px;
  z-index: 1;
}

.copilot-and-copilot .text-32 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  color: #bdaa80;
  font-size: 13px;
  line-height: 13px;
}

.copilot-and-copilot .component-56 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 20.8px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -19.00px;
  z-index: 0;
}

.copilot-and-copilot .margin-111 {
  display: inline-flex;
  max-width: 1241.7px;
  padding: 8px 0px 8px 11.2px;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.copilot-and-copilot .component-57 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 13px 39px;
  position: relative;
  flex: 0 0 auto;
  background-color: #182124;
  border-radius: 60px;
  overflow: hidden;
}

.copilot-and-copilot .text-33 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  line-height: 13px;
}

.copilot-and-copilot .text-wrapper-106 {
  font-weight: 600;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.copilot-and-copilot .section-37 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 58px;
  margin-bottom: -19.91px;
}
