.news-and {
  width: 1920px;
  height: 1200px;
  background-color: var(--soshkcomwhite);
}

.news-and .container-112 {
  height: 1457px;
}

.news-and .overlap-6 {
  position: relative;
  width: 1920px;
  height: 1260px;
}

.news-and .container-113 {
  position: absolute;
  width: 1920px;
  height: 1px;
  top: 0;
  left: 0;
}

.news-and .background-13 {
  height: 1297px;
  background-color: #fdfdfd;
}

.news-and .container-114 {
  position: absolute;
  width: 1920px;
  height: 1260px;
  top: 0;
  left: 0;
}

.news-and .overlap-group-5 {
  position: relative;
  height: 1494px;
}

.news-and .main-section-main {
  display: flex;
  flex-direction: column;
  width: 1920px;
  align-items: flex-start;
  position: absolute;
  top: 79px;
  left: 0;
}

.news-and .section-margin {
  display: flex;
  flex-direction: column;
  min-width: 980px;
  align-items: flex-start;
  padding: 0px 0px 49px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.news-and .section-20 {
  display: flex;
  min-width: 980px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.news-and .container-115 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.news-and .container-116 {
  position: absolute;
  width: 1920px;
  height: 135px;
  top: 0;
  left: 0;
  background-color: #fdfdfd;
}

.news-and .container-117 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 49px 570px 45px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.news-and .container-118 {
  display: flex;
  flex-direction: column;
  width: 780px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.news-and .heading-6 {
  align-items: center;
  padding: 1px 0px 0.19px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.news-and .text-wrapper-46 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 700;
  color: #f2e84f;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: 39.2px;
}

.news-and .margin-39 {
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -50px;
  flex-direction: column;
  align-items: flex-start;
}

.news-and .list-wrapper {
  display: flex;
  flex-direction: column;
  height: 902px;
  align-items: flex-start;
  padding: 19px 161px 81px 159px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.news-and .list-4 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 802px;
}

.news-and .listitem {
  display: flex;
  flex-direction: column;
  width: 334px;
  align-items: flex-start;
  padding: 1px;
  position: absolute;
  top: 30px;
  left: 46px;
  border: 1px solid;
  border-color: #e8e6e6;
}

.news-and .container-119 {
  position: absolute;
  width: 332px;
  height: 366px;
  top: 1px;
  left: 1px;
  background-color: #fdfdfd;
}

.news-and .container-120 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 366px;
}

.news-and .margin-40 {
  display: flex;
  flex-direction: column;
  width: 328px;
  height: 223px;
  align-items: flex-start;
  padding: 7px 0px 22px;
  position: absolute;
  top: 0;
  left: 7px;
}

.news-and .wow-image-wrapper {
  display: flex;
  flex-direction: column;
  width: 328px;
  height: 194px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.news-and .wow-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.news-and .image-place-holder {
  position: relative;
  max-width: 328px;
  width: 328px;
  height: 194px;
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/image-place-holder-jpg.png);
  background-size: cover;
  background-position: 50% 50%;
}

.news-and .margin-41 {
  display: flex;
  width: 280px;
  min-height: 56px;
  padding: 0px 0px 18px;
  position: absolute;
  top: 223px;
  left: 31px;
  flex-direction: column;
  align-items: flex-start;
}

.news-and .container-121 {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 38px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.news-and .div-wrapper-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.news-and .text-wrapper-47 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--www-mws-soshk-com-semantic-heading-2-font-family);
  font-weight: var(--www-mws-soshk-com-semantic-heading-2-font-weight);
  color: #090909;
  font-size: var(--www-mws-soshk-com-semantic-heading-2-font-size);
  letter-spacing: var(--www-mws-soshk-com-semantic-heading-2-letter-spacing);
  line-height: var(--www-mws-soshk-com-semantic-heading-2-line-height);
  font-style: var(--www-mws-soshk-com-semantic-heading-2-font-style);
}

.news-and .margin-42 {
  display: flex;
  width: 129px;
  height: 69px;
  padding: 0px 0px 31px;
  position: absolute;
  top: 297px;
  left: 31px;
  flex-direction: column;
  align-items: flex-start;
}

.news-and .link-read-more-wrapper {
  position: relative;
  width: 129px;
  height: 38px;
}

.news-and .link-read-more {
  height: 38px;
  border: 2px solid;
  border-color: #7b736f;
}

.news-and .read-more-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0.59px;
  position: relative;
  top: 8px;
  left: 34px;
}

.news-and .read-more {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 400;
  color: var(--wwwmwssoshkcomfuscous-gray);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 14px;
}

.news-and .text-wrapper-48 {
  font-weight: 700;
  line-height: 19.6px;
}

.news-and .listitem-2 {
  top: 30px;
  left: 438px;
  display: flex;
  flex-direction: column;
  width: 334px;
  align-items: flex-start;
  padding: 1px;
  position: absolute;
  border: 1px solid;
  border-color: #e8e6e6;
}

.news-and .container-122 {
  position: absolute;
  width: 332px;
  height: 394px;
  top: 1px;
  left: 1px;
  background-color: #fdfdfd;
}

.news-and .container-123 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 394px;
}

.news-and .image-place-holder-2 {
  position: relative;
  max-width: 328px;
  width: 328px;
  height: 194px;
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/image-place-holder-jpg-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.news-and .margin-43 {
  display: flex;
  width: 129px;
  height: 69px;
  padding: 0px 0px 31px;
  position: absolute;
  top: 325px;
  left: 31px;
  flex-direction: column;
  align-items: flex-start;
}

.news-and .listitem-3 {
  top: 30px;
  left: 830px;
  display: flex;
  flex-direction: column;
  width: 334px;
  align-items: flex-start;
  padding: 1px;
  position: absolute;
  border: 1px solid;
  border-color: #e8e6e6;
}

.news-and .container-124 {
  position: absolute;
  width: 332px;
  height: 348px;
  top: 1px;
  left: 1px;
  background-color: #fdfdfd;
}

.news-and .container-125 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 348px;
}

.news-and .young-trumpeter {
  position: relative;
  max-width: 328px;
  width: 328px;
  height: 194px;
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/young-trumpeter.png);
  background-size: cover;
  background-position: 50% 50%;
}

.news-and .container-126 {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 38px;
  align-items: flex-start;
  padding: 0px 0px 10px;
  position: relative;
  flex: 0 0 auto;
}

.news-and .margin-44 {
  display: flex;
  width: 129px;
  height: 69px;
  padding: 0px 0px 31px;
  position: absolute;
  top: 279px;
  left: 31px;
  flex-direction: column;
  align-items: flex-start;
}

.news-and .listitem-4 {
  top: 30px;
  left: 1222px;
  display: flex;
  flex-direction: column;
  width: 334px;
  align-items: flex-start;
  padding: 1px;
  position: absolute;
  border: 1px solid;
  border-color: #e8e6e6;
}

.news-and .modern-dance {
  position: relative;
  max-width: 328px;
  width: 328px;
  height: 194px;
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/modern-dance.png);
  background-size: cover;
  background-position: 50% 50%;
}

.news-and .listitem-5 {
  top: 456px;
  left: 46px;
  display: flex;
  flex-direction: column;
  width: 334px;
  align-items: flex-start;
  padding: 1px;
  position: absolute;
  border: 1px solid;
  border-color: #e8e6e6;
}

.news-and .arts-and-crafts {
  position: relative;
  max-width: 328px;
  width: 328px;
  height: 194px;
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/arts-and-crafts.png);
  background-size: cover;
  background-position: 50% 50%;
}

.news-and .listitem-6 {
  top: 484px;
  left: 438px;
  display: flex;
  flex-direction: column;
  width: 334px;
  align-items: flex-start;
  padding: 1px;
  position: absolute;
  border: 1px solid;
  border-color: #e8e6e6;
}

.news-and .tennis-balls-and {
  position: relative;
  max-width: 328px;
  width: 328px;
  height: 194px;
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/tennis-balls-and-racket.png);
  background-size: cover;
  background-position: 50% 50%;
}

.news-and .listitem-7 {
  top: 438px;
  left: 830px;
  display: flex;
  flex-direction: column;
  width: 334px;
  align-items: flex-start;
  padding: 1px;
  position: absolute;
  border: 1px solid;
  border-color: #e8e6e6;
}

.news-and .baking-cream {
  position: relative;
  max-width: 328px;
  width: 328px;
  height: 194px;
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/baking-cream.png);
  background-size: cover;
  background-position: 50% 50%;
}

.news-and .listitem-8 {
  top: 438px;
  left: 1222px;
  display: flex;
  flex-direction: column;
  width: 334px;
  align-items: flex-start;
  padding: 1px;
  position: absolute;
  border: 1px solid;
  border-color: #e8e6e6;
}

.news-and .cutting-clay {
  position: relative;
  max-width: 328px;
  width: 328px;
  height: 194px;
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/cutting-clay.png);
  background-size: cover;
  background-position: 50% 50%;
}

.news-and .section-margin-2 {
  display: flex;
  flex-direction: column;
  min-width: 980px;
  align-items: flex-start;
  padding: 319px 0px 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -50px;
}

.news-and .container-127 {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.news-and .header-3 {
  display: flex;
  flex-direction: column;
  width: 1860px;
  height: 100px;
  align-items: flex-start;
  padding: 21.45px 32px 21.46px;
  position: absolute;
  top: 0;
  left: 30px;
  background-color: #ffffff;
}

.news-and .section-21 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.news-and .container-128 {
  display: flex;
  height: 19px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.news-and .container-129 {
  display: flex;
  width: 108.61px;
  height: 66px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: -47.00px;
}

.news-and .container-130 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.news-and .container-131 {
  display: flex;
  flex-direction: column;
  max-width: 108.61px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.news-and .link-6 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.news-and .SOS-group-limited-4 {
  position: relative;
  max-width: 108.61px;
  width: 46.89px;
  max-height: 46.4px;
  height: 46.39px;
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/sos-group-limited-4.png);
  background-size: cover;
  background-position: 50% 50%;
}

.news-and .container-132 {
  display: flex;
  width: 450.86px;
  height: 66px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: -47.00px;
}

.news-and .container-133 {
  display: flex;
  flex-direction: column;
  max-width: 450.86px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.news-and .text-wrapper-49 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 700;
  color: #727171;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
}

.news-and .container-134 {
  display: flex;
  width: 1230.5px;
  height: 66px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: -47.00px;
}

.news-and .container-135 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0px -0.02px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.news-and .margin-45 {
  display: inline-flex;
  max-width: 1230.5px;
  padding: 8px 0px;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.news-and .div-wrapper-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  flex: 0 0 auto;
}

.news-and .list-5 {
  display: flex;
  width: 804px;
  height: 27px;
  align-items: flex-start;
  position: relative;
}

.news-and .component-27 {
  flex-direction: column;
  padding: 13px 20.8px;
  margin-bottom: -19.00px;
  z-index: 5;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.news-and .text-14 {
  color: #000000;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
}

.news-and .text-wrapper-50 {
  font-weight: 600;
  letter-spacing: 0.13px;
  line-height: 19.5px;
}

.news-and .component-28 {
  z-index: 4;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 20.8px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -19.00px;
}

.news-and .text-15 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  color: #182124;
  font-size: 13px;
  line-height: 13px;
}

.news-and .component-29 {
  z-index: 3;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 20.8px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -19.00px;
}

.news-and .component-30 {
  flex-direction: column;
  padding: 13px 20.8px;
  margin-bottom: -19.00px;
  z-index: 2;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.news-and .component-31 {
  flex-direction: column;
  padding: 13px 20.8px;
  margin-bottom: -19.00px;
  z-index: 1;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.news-and .component-32 {
  flex-direction: column;
  padding: 13px 20.8px;
  margin-bottom: -19.00px;
  z-index: 0;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.news-and .margin-46 {
  display: inline-flex;
  max-width: 1241.7px;
  padding: 8px 0px 8px 11.2px;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.news-and .component-33 {
  justify-content: center;
  padding: 13px 39px;
  background-color: #182124;
  border-radius: 60px;
  overflow: hidden;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.news-and .text-16 {
  color: #ffffff;
  text-align: center;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
}

.news-and .text-wrapper-51 {
  font-weight: 600;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.news-and .section-22 {
  height: 58px;
  margin-bottom: -19.91px;
  position: relative;
  align-self: stretch;
  width: 100%;
}
