:root {
  --soshkcomdove-gray: rgba(102, 102, 102, 1);
  --soshkcombunker: rgba(24, 33, 36, 1);
  --soshkcomwhite: rgba(255, 255, 255, 1);
  --soshkcommongoose: rgba(189, 170, 128, 1);
  --soshkcomnevada: rgba(92, 99, 101, 1);
  --soshkcomedward: rgba(166, 171, 172, 1);
  --soshkcommerino: rgba(248, 242, 237, 1);
  --soshkcomblack: rgba(0, 0, 0, 1);
  --soshkcomscorpion: rgba(91, 91, 91, 1);
  --soshkcomroyal-blue: rgba(26, 115, 232, 1);
  --soshkcommercury: rgba(230, 230, 230, 1);
  --soshkcomcornflower-blue: rgba(66, 133, 244, 1);
  --soshkcomcinnabar: rgba(233, 66, 53, 1);
  --soshkcomselective-yellow: rgba(250, 187, 5, 1);
  --soshkcomchateau-green: rgba(52, 168, 83, 1);
  --soshkcomwestar: rgba(229, 227, 223, 1);
  --soshkcomwild-sand: rgba(245, 245, 245, 1);
  --soshkcomgray: rgba(128, 128, 128, 1);
  --soshkcomnight-rider-99: rgba(2, 1, 1, 0.99);
  --soshkcomblack-85: rgba(0, 0, 0, 0.85);
  --soshkcomblack-25: rgba(0, 0, 0, 0.25);
  --soshkcomparis-daisy: rgba(255, 237, 107, 1);
  --wwwmwssoshkcomwhite: rgba(255, 255, 255, 1);
  --wwwmwssoshkcomgray: rgba(131, 131, 131, 1);
  --wwwmwssoshkcompurple-heart: rgba(89, 51, 170, 1);
  --wwwmwssoshkcomdandelion: rgba(255, 222, 95, 1);
  --wwwmwssoshkcombuttercup-50: rgba(239, 174, 8, 0.5);
  --wwwmwssoshkcomtundora: rgba(70, 70, 70, 1);
  --wwwmwssoshkcomelectric-violet: rgba(133, 77, 255, 1);
  --wwwmwssoshkcomrazzmatazz: rgba(237, 21, 102, 1);
  --wwwmwssoshkcombroom: rgba(255, 228, 18, 1);
  --wwwmwssoshkcomstarship: rgba(242, 232, 79, 1);
  --wwwmwssoshkcomcod-gray: rgba(9, 9, 9, 1);
  --wwwmwssoshkcombuttercup: rgba(239, 174, 8, 1);
  --wwwmwssoshkcomwhite-65: rgba(253, 253, 253, 0.65);
  --wwwmwssoshkcomcream: rgba(255, 252, 208, 1);
  --wwwmwssoshkcomnavy-blue: rgba(13, 4, 137, 1);
  --wwwmwssoshkcomfuscous-gray: rgba(89, 81, 77, 1);
  --wwwmwssoshkcomtapa: rgba(123, 115, 111, 1);
  --wwwmwssoshkcommercury: rgba(232, 230, 230, 1);
  --wwwsoshkcomwhite: rgba(255, 255, 255, 1);
  --wwwsoshkcombunker: rgba(24, 33, 36, 1);
  --wwwsoshkcombroom: rgba(255, 227, 19, 1);
  --wwwsoshkcommongoose: rgba(189, 170, 128, 1);
  --wwwsoshkcompewter: rgba(159, 161, 160, 1);
  --wwwsoshkcomblack: rgba(0, 0, 0, 1);
  --wwwsoshkcomnevada: rgba(92, 99, 101, 1);
  --wwwsoshkcomgimblet-31: rgba(189, 176, 124, 0.31);
  --soshkcombroom: rgba(255, 227, 19, 1);
  --constructionblack: rgba(42, 42, 42, 1);
  --wwwsoshkcombunker-80: rgba(24, 33, 36, 0.8);
  --wwwsoshkcomdove-gray: rgba(114, 113, 113, 1);
  --wwwsoshkcomdusty-gray: rgba(153, 153, 153, 1);
  --soshk-com-semantic-heading-4-font-family: "Poppins", Helvetica;
  --soshk-com-semantic-heading-4-font-weight: 700;
  --soshk-com-semantic-heading-4-font-size: 18px;
  --soshk-com-semantic-heading-4-letter-spacing: 0px;
  --soshk-com-semantic-heading-4-line-height: 23.399999618530273px;
  --soshk-com-semantic-heading-4-font-style: normal;
  --soshk-com-work-sans-semibold-upper-font-family: "Work Sans", Helvetica;
  --soshk-com-work-sans-semibold-upper-font-weight: 600;
  --soshk-com-work-sans-semibold-upper-font-size: 14px;
  --soshk-com-work-sans-semibold-upper-letter-spacing: 0px;
  --soshk-com-work-sans-semibold-upper-line-height: 49px;
  --soshk-com-work-sans-semibold-upper-font-style: normal;
  --soshk-com-work-sans-regular-font-family: "Work Sans", Helvetica;
  --soshk-com-work-sans-regular-font-weight: 400;
  --soshk-com-work-sans-regular-font-size: 13.600000381469727px;
  --soshk-com-work-sans-regular-letter-spacing: 0px;
  --soshk-com-work-sans-regular-line-height: 13.600000381469727px;
  --soshk-com-work-sans-regular-font-style: normal;
  --soshk-com-semantic-heading-1-font-family: "Poppins", Helvetica;
  --soshk-com-semantic-heading-1-font-weight: 700;
  --soshk-com-semantic-heading-1-font-size: 70px;
  --soshk-com-semantic-heading-1-letter-spacing: 0px;
  --soshk-com-semantic-heading-1-line-height: 75.5199966430664px;
  --soshk-com-semantic-heading-1-font-style: normal;
  --soshk-com-roboto-medium-font-family: "Roboto", Helvetica;
  --soshk-com-roboto-medium-font-weight: 500;
  --soshk-com-roboto-medium-font-size: 14px;
  --soshk-com-roboto-medium-letter-spacing: 0px;
  --soshk-com-roboto-medium-line-height: normal;
  --soshk-com-roboto-medium-font-style: normal;
  --soshk-com-roboto-regular-font-family: "Roboto", Helvetica;
  --soshk-com-roboto-regular-font-weight: 400;
  --soshk-com-roboto-regular-font-size: 12px;
  --soshk-com-roboto-regular-letter-spacing: 0px;
  --soshk-com-roboto-regular-line-height: normal;
  --soshk-com-roboto-regular-font-style: normal;
  --soshk-com-semantic-link-font-family: "Roboto", Helvetica;
  --soshk-com-semantic-link-font-weight: 400;
  --soshk-com-semantic-link-font-size: 10px;
  --soshk-com-semantic-link-letter-spacing: 0px;
  --soshk-com-semantic-link-line-height: 14px;
  --soshk-com-semantic-link-font-style: normal;
  --soshk-com-semantic-button-font-family: "Roboto", Helvetica;
  --soshk-com-semantic-button-font-weight: 400;
  --soshk-com-semantic-button-font-size: 10px;
  --soshk-com-semantic-button-letter-spacing: 0px;
  --soshk-com-semantic-button-line-height: 14px;
  --soshk-com-semantic-button-font-style: normal;
  --soshk-com-semantic-label-font-family: "Work Sans", Helvetica;
  --soshk-com-semantic-label-font-weight: 700;
  --soshk-com-semantic-label-font-size: 16px;
  --soshk-com-semantic-label-letter-spacing: 0px;
  --soshk-com-semantic-label-line-height: 19px;
  --soshk-com-semantic-label-font-style: normal;
  --soshk-com-work-sans-medium-font-family: "Work Sans", Helvetica;
  --soshk-com-work-sans-medium-font-weight: 500;
  --soshk-com-work-sans-medium-font-size: 17px;
  --soshk-com-work-sans-medium-letter-spacing: 0px;
  --soshk-com-work-sans-medium-line-height: 17px;
  --soshk-com-work-sans-medium-font-style: normal;
  --www-mws-soshk-com-semantic-heading-3-font-family: "Rajdhani", Helvetica;
  --www-mws-soshk-com-semantic-heading-3-font-weight: 600;
  --www-mws-soshk-com-semantic-heading-3-font-size: 20px;
  --www-mws-soshk-com-semantic-heading-3-letter-spacing: 0px;
  --www-mws-soshk-com-semantic-heading-3-line-height: normal;
  --www-mws-soshk-com-semantic-heading-3-font-style: normal;
  --www-mws-soshk-com-semantic-heading-4-font-family: "Rajdhani", Helvetica;
  --www-mws-soshk-com-semantic-heading-4-font-weight: 600;
  --www-mws-soshk-com-semantic-heading-4-font-size: 40px;
  --www-mws-soshk-com-semantic-heading-4-letter-spacing: 0px;
  --www-mws-soshk-com-semantic-heading-4-line-height: normal;
  --www-mws-soshk-com-semantic-heading-4-font-style: normal;
  --www-mws-soshk-com-rajdhani-regular-font-family: "Rajdhani", Helvetica;
  --www-mws-soshk-com-rajdhani-regular-font-weight: 400;
  --www-mws-soshk-com-rajdhani-regular-font-size: 16px;
  --www-mws-soshk-com-rajdhani-regular-letter-spacing: 0px;
  --www-mws-soshk-com-rajdhani-regular-line-height: 28.799999237060547px;
  --www-mws-soshk-com-rajdhani-regular-font-style: normal;
  --www-mws-soshk-com-semantic-heading-1-font-family: "Raleway", Helvetica;
  --www-mws-soshk-com-semantic-heading-1-font-weight: 700;
  --www-mws-soshk-com-semantic-heading-1-font-size: 56px;
  --www-mws-soshk-com-semantic-heading-1-letter-spacing: 0px;
  --www-mws-soshk-com-semantic-heading-1-line-height: 78.4000015258789px;
  --www-mws-soshk-com-semantic-heading-1-font-style: normal;
  --www-mws-soshk-com-rajdhani-medium-font-family: "Rajdhani", Helvetica;
  --www-mws-soshk-com-rajdhani-medium-font-weight: 500;
  --www-mws-soshk-com-rajdhani-medium-font-size: 16px;
  --www-mws-soshk-com-rajdhani-medium-letter-spacing: 0px;
  --www-mws-soshk-com-rajdhani-medium-line-height: 28px;
  --www-mws-soshk-com-rajdhani-medium-font-style: normal;
  --www-mws-soshk-com-semantic-heading-2-font-family: "Raleway", Helvetica;
  --www-mws-soshk-com-semantic-heading-2-font-weight: 700;
  --www-mws-soshk-com-semantic-heading-2-font-size: 20px;
  --www-mws-soshk-com-semantic-heading-2-letter-spacing: 0px;
  --www-mws-soshk-com-semantic-heading-2-line-height: 28px;
  --www-mws-soshk-com-semantic-heading-2-font-style: normal;
  --www-mws-soshk-com-semantic-heading-6-font-family: "Rajdhani", Helvetica;
  --www-mws-soshk-com-semantic-heading-6-font-weight: 400;
  --www-mws-soshk-com-semantic-heading-6-font-size: 18px;
  --www-mws-soshk-com-semantic-heading-6-letter-spacing: 0px;
  --www-mws-soshk-com-semantic-heading-6-line-height: 25.200000762939453px;
  --www-mws-soshk-com-semantic-heading-6-font-style: normal;
  --www-mws-soshk-com-raleway-bold-font-family: "Raleway", Helvetica;
  --www-mws-soshk-com-raleway-bold-font-weight: 700;
  --www-mws-soshk-com-raleway-bold-font-size: 100px;
  --www-mws-soshk-com-raleway-bold-letter-spacing: 0px;
  --www-mws-soshk-com-raleway-bold-line-height: 140px;
  --www-mws-soshk-com-raleway-bold-font-style: normal;
  --www-mws-soshk-com-semantic-heading-5-font-family: "Rajdhani", Helvetica;
  --www-mws-soshk-com-semantic-heading-5-font-weight: 600;
  --www-mws-soshk-com-semantic-heading-5-font-size: 20px;
  --www-mws-soshk-com-semantic-heading-5-letter-spacing: 0px;
  --www-mws-soshk-com-semantic-heading-5-line-height: 28px;
  --www-mws-soshk-com-semantic-heading-5-font-style: normal;
  --www-mws-soshk-com-semantic-item-font-family: "Raleway", Helvetica;
  --www-mws-soshk-com-semantic-item-font-weight: 400;
  --www-mws-soshk-com-semantic-item-font-size: 16px;
  --www-mws-soshk-com-semantic-item-letter-spacing: 0px;
  --www-mws-soshk-com-semantic-item-line-height: 22.399999618530273px;
  --www-mws-soshk-com-semantic-item-font-style: normal;
  --www-mws-soshk-com-raleway-regular-font-family: "Raleway", Helvetica;
  --www-mws-soshk-com-raleway-regular-font-weight: 400;
  --www-mws-soshk-com-raleway-regular-font-size: 18px;
  --www-mws-soshk-com-raleway-regular-letter-spacing: 0px;
  --www-mws-soshk-com-raleway-regular-line-height: 32.400001525878906px;
  --www-mws-soshk-com-raleway-regular-font-style: normal;
  --www-mws-soshk-com-inter-regular-font-family: "Inter", Helvetica;
  --www-mws-soshk-com-inter-regular-font-weight: 400;
  --www-mws-soshk-com-inter-regular-font-size: 13.125px;
  --www-mws-soshk-com-inter-regular-letter-spacing: 0px;
  --www-mws-soshk-com-inter-regular-line-height: normal;
  --www-mws-soshk-com-inter-regular-font-style: normal;
  --www-mws-soshk-com-rajdhani-bold-font-family: "Rajdhani", Helvetica;
  --www-mws-soshk-com-rajdhani-bold-font-weight: 700;
  --www-mws-soshk-com-rajdhani-bold-font-size: 38px;
  --www-mws-soshk-com-rajdhani-bold-letter-spacing: 0px;
  --www-mws-soshk-com-rajdhani-bold-line-height: normal;
  --www-mws-soshk-com-rajdhani-bold-font-style: normal;
  --www-mws-soshk-com-semantic-label-font-family: "Rajdhani", Helvetica;
  --www-mws-soshk-com-semantic-label-font-weight: 500;
  --www-mws-soshk-com-semantic-label-font-size: 14px;
  --www-mws-soshk-com-semantic-label-letter-spacing: 0px;
  --www-mws-soshk-com-semantic-label-line-height: 14px;
  --www-mws-soshk-com-semantic-label-font-style: normal;
  --www-mws-soshk-com-semantic-legend-font-family: "Rajdhani", Helvetica;
  --www-mws-soshk-com-semantic-legend-font-weight: 500;
  --www-mws-soshk-com-semantic-legend-font-size: 14px;
  --www-mws-soshk-com-semantic-legend-letter-spacing: 0px;
  --www-mws-soshk-com-semantic-legend-line-height: 14px;
  --www-mws-soshk-com-semantic-legend-font-style: normal;
  --www-mws-soshk-com-semantic-button-font-family: "Inter", Helvetica;
  --www-mws-soshk-com-semantic-button-font-weight: 400;
  --www-mws-soshk-com-semantic-button-font-size: 16px;
  --www-mws-soshk-com-semantic-button-letter-spacing: 0px;
  --www-mws-soshk-com-semantic-button-line-height: 19.600000381469727px;
  --www-mws-soshk-com-semantic-button-font-style: normal;
  --www-soshk-com-poppins-bold-font-family: "Poppins", Helvetica;
  --www-soshk-com-poppins-bold-font-weight: 700;
  --www-soshk-com-poppins-bold-font-size: 81px;
  --www-soshk-com-poppins-bold-letter-spacing: 1px;
  --www-soshk-com-poppins-bold-line-height: 95px;
  --www-soshk-com-poppins-bold-font-style: normal;
  --www-soshk-com-work-sans-regular-font-family: "Work Sans", Helvetica;
  --www-soshk-com-work-sans-regular-font-weight: 400;
  --www-soshk-com-work-sans-regular-font-size: 18px;
  --www-soshk-com-work-sans-regular-letter-spacing: 0px;
  --www-soshk-com-work-sans-regular-line-height: 28px;
  --www-soshk-com-work-sans-regular-font-style: normal;
  --soshk-com-font-awesome-5-free-solid-font-family: "Font Awesome 5 Free",
    Helvetica;
  --soshk-com-font-awesome-5-free-solid-font-weight: 400;
  --soshk-com-font-awesome-5-free-solid-font-size: 20px;
  --soshk-com-font-awesome-5-free-solid-letter-spacing: 0px;
  --soshk-com-font-awesome-5-free-solid-line-height: 20px;
  --soshk-com-font-awesome-5-free-solid-font-style: normal;
  --soshk-com-roboto-semibold-font-family: "Roboto", Helvetica;
  --soshk-com-roboto-semibold-font-weight: 600;
  --soshk-com-roboto-semibold-font-size: 20px;
  --soshk-com-roboto-semibold-letter-spacing: 0px;
  --soshk-com-roboto-semibold-line-height: 30px;
  --soshk-com-roboto-semibold-font-style: normal;
  --www-soshk-com-work-sans-semibold-font-family: "Work Sans", Helvetica;
  --www-soshk-com-work-sans-semibold-font-weight: 600;
  --www-soshk-com-work-sans-semibold-font-size: 13px;
  --www-soshk-com-work-sans-semibold-letter-spacing: 0.5px;
  --www-soshk-com-work-sans-semibold-line-height: 21px;
  --www-soshk-com-work-sans-semibold-font-style: normal;
}


:root {
  --www-soshk-com-work-sans-regular-font-family: "Work Sans", Helvetica;
  --www-soshk-com-work-sans-regular-font-weight: 400;
  --www-soshk-com-work-sans-regular-font-size: 13.600000381469727px;
  --www-soshk-com-work-sans-regular-letter-spacing: 0px;
  --www-soshk-com-work-sans-regular-line-height: 13.600000381469727px;
  --www-soshk-com-work-sans-regular-font-style: normal;
  --www-soshk-com-work-sans-semibold-font-family: "Work Sans", Helvetica;
  --www-soshk-com-work-sans-semibold-font-weight: 600;
  --www-soshk-com-work-sans-semibold-font-size: 13px;
  --www-soshk-com-work-sans-semibold-letter-spacing: 0.5px;
  --www-soshk-com-work-sans-semibold-line-height: 21px;
  --www-soshk-com-work-sans-semibold-font-style: normal;
  --www-soshk-com-roboto-semibold-font-family: "Roboto", Helvetica;
  --www-soshk-com-roboto-semibold-font-weight: 600;
  --www-soshk-com-roboto-semibold-font-size: 20px;
  --www-soshk-com-roboto-semibold-letter-spacing: 0px;
  --www-soshk-com-roboto-semibold-line-height: 30px;
  --www-soshk-com-roboto-semibold-font-style: normal;
  --www-soshk-com-poppins-bold-font-family: "Poppins", Helvetica;
  --www-soshk-com-poppins-bold-font-weight: 700;
  --www-soshk-com-poppins-bold-font-size: 81px;
  --www-soshk-com-poppins-bold-letter-spacing: 1px;
  --www-soshk-com-poppins-bold-line-height: 95px;
  --www-soshk-com-poppins-bold-font-style: normal;
  --www-soshk-com-semantic-heading-1-font-family: "Roboto Mono", Helvetica;
  --www-soshk-com-semantic-heading-1-font-weight: 700;
  --www-soshk-com-semantic-heading-1-font-size: 20px;
  --www-soshk-com-semantic-heading-1-letter-spacing: 0px;
  --www-soshk-com-semantic-heading-1-line-height: 26px;
  --www-soshk-com-semantic-heading-1-font-style: normal;
  --www-soshk-com-semantic-heading-4-font-family: "Rajdhani", Helvetica;
  --www-soshk-com-semantic-heading-4-font-weight: 700;
  --www-soshk-com-semantic-heading-4-font-size: 30px;
  --www-soshk-com-semantic-heading-4-letter-spacing: 0px;
  --www-soshk-com-semantic-heading-4-line-height: 30px;
  --www-soshk-com-semantic-heading-4-font-style: normal;
  --www-soshk-com-semantic-link-font-family: "Work Sans", Helvetica;
  --www-soshk-com-semantic-link-font-weight: 400;
  --www-soshk-com-semantic-link-font-size: 16px;
  --www-soshk-com-semantic-link-letter-spacing: 0px;
  --www-soshk-com-semantic-link-line-height: 25.010000228881836px;
  --www-soshk-com-semantic-link-font-style: normal;
  --www-soshk-com-semantic-link-upper-font-family: "Work Sans", Helvetica;
  --www-soshk-com-semantic-link-upper-font-weight: 600;
  --www-soshk-com-semantic-link-upper-font-size: 13px;
  --www-soshk-com-semantic-link-upper-letter-spacing: 1px;
  --www-soshk-com-semantic-link-upper-line-height: 19.5px;
  --www-soshk-com-semantic-link-upper-font-style: normal;
  --www-soshk-com-font-awesome-5-free-solid-font-family: "Font Awesome 5 Free",
      Helvetica;
  --www-soshk-com-font-awesome-5-free-solid-font-weight: 400;
  --www-soshk-com-font-awesome-5-free-solid-font-size: 20px;
  --www-soshk-com-font-awesome-5-free-solid-letter-spacing: 0px;
  --www-soshk-com-font-awesome-5-free-solid-line-height: 20px;
  --www-soshk-com-font-awesome-5-free-solid-font-style: normal;
  --soshk-com-semantic-heading-1-font-family: "Poppins", Helvetica;
  --soshk-com-semantic-heading-1-font-weight: 700;
  --soshk-com-semantic-heading-1-font-size: 70px;
  --soshk-com-semantic-heading-1-letter-spacing: 0px;
  --soshk-com-semantic-heading-1-line-height: 75.5199966430664px;
  --soshk-com-semantic-heading-1-font-style: normal;
  --soshk-com-semantic-heading-4-font-family: "Rajdhani", Helvetica;
  --soshk-com-semantic-heading-4-font-weight: 700;
  --soshk-com-semantic-heading-4-font-size: 30px;
  --soshk-com-semantic-heading-4-letter-spacing: 0px;
  --soshk-com-semantic-heading-4-line-height: 30px;
  --soshk-com-semantic-heading-4-font-style: normal;
  --soshk-com-semantic-link-font-family: "Work Sans", Helvetica;
  --soshk-com-semantic-link-font-weight: 400;
  --soshk-com-semantic-link-font-size: 18px;
  --soshk-com-semantic-link-letter-spacing: 0px;
  --soshk-com-semantic-link-line-height: 24px;
  --soshk-com-semantic-link-font-style: normal;
  --soshk-com-semantic-link-upper-font-family: "Work Sans", Helvetica;
  --soshk-com-semantic-link-upper-font-weight: 600;
  --soshk-com-semantic-link-upper-font-size: 14px;
  --soshk-com-semantic-link-upper-letter-spacing: 0px;
  --soshk-com-semantic-link-upper-line-height: 49px;
  --soshk-com-semantic-link-upper-font-style: normal;
  --soshk-com-semantic-label-font-family: "Work Sans", Helvetica;
  --soshk-com-semantic-label-font-weight: 400;
  --soshk-com-semantic-label-font-size: 16px;
  --soshk-com-semantic-label-letter-spacing: 0px;
  --soshk-com-semantic-label-line-height: 25.010000228881836px;
  --soshk-com-semantic-label-font-style: normal;
  --soshk-com-work-sans-semibold-upper-font-family: "Work Sans", Helvetica;
  --soshk-com-work-sans-semibold-upper-font-weight: 600;
  --soshk-com-work-sans-semibold-upper-font-size: 13px;
  --soshk-com-work-sans-semibold-upper-letter-spacing: 1px;
  --soshk-com-work-sans-semibold-upper-line-height: 19.5px;
  --soshk-com-work-sans-semibold-upper-font-style: normal;
}
