.talk-to-our-expert {
  width: 1920px;
  height: 1200px;
  background-color: var(--wwwmwssoshkcomwhite);
}

.talk-to-our-expert .overlap-wrapper {
  height: 1822px;
}

.talk-to-our-expert .overlap-4 {
  position: relative;
  width: 1920px;
  height: 1822px;
  top: -41px;
}

.talk-to-our-expert .container-88 {
  position: absolute;
  width: 1920px;
  height: 1px;
  top: 41px;
  left: 0;
}

.talk-to-our-expert .background-12 {
  height: 1822px;
  background-color: #fdfdfd;
}

.talk-to-our-expert .overlap-group-wrapper {
  position: absolute;
  width: 1920px;
  height: 1822px;
  top: 0;
  left: 0;
}

.talk-to-our-expert .overlap-5 {
  position: relative;
  height: 1737px;
}

.talk-to-our-expert .main-2 {
  display: flex;
  flex-direction: column;
  width: 1920px;
  min-height: 40px;
  align-items: flex-start;
  position: absolute;
  top: 79px;
  left: 0;
}

.talk-to-our-expert .section-main-content-2 {
  display: flex;
  flex-direction: column;
  min-width: 980px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.talk-to-our-expert .container-89 {
  position: absolute;
  width: 1920px;
  height: 276px;
  top: 0;
  left: 0;
  background-color: #fdfdfd;
}

.talk-to-our-expert .container-90 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 275.78px;
}

.talk-to-our-expert .overlap-group-3 {
  position: relative;
  width: 1450px;
  height: 275px;
}

.talk-to-our-expert .margin-22 {
  display: flex;
  width: 1450px;
  padding: 85px 0px 25px 470px;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .container-91 {
  display: flex;
  flex-direction: column;
  width: 980px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.talk-to-our-expert .div-wrapper-7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.talk-to-our-expert .text-wrapper-30 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--www-mws-soshk-com-semantic-heading-1-font-family);
  font-weight: var(--www-mws-soshk-com-semantic-heading-1-font-weight);
  color: var(--wwwmwssoshkcomstarship);
  font-size: var(--www-mws-soshk-com-semantic-heading-1-font-size);
  text-align: center;
  letter-spacing: var(--www-mws-soshk-com-semantic-heading-1-letter-spacing);
  line-height: var(--www-mws-soshk-com-semantic-heading-1-line-height);
  font-style: var(--www-mws-soshk-com-semantic-heading-1-font-style);
}

.talk-to-our-expert .margin-23 {
  display: flex;
  width: 1114px;
  padding: 0px 0px 55px 470px;
  position: absolute;
  top: 187px;
  left: 169px;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .container-92 {
  display: flex;
  flex-direction: column;
  width: 644px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.talk-to-our-expert .text-wrapper-31 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--www-mws-soshk-com-raleway-regular-font-family);
  font-weight: var(--www-mws-soshk-com-raleway-regular-font-weight);
  color: var(--wwwmwssoshkcomcod-gray);
  font-size: var(--www-mws-soshk-com-raleway-regular-font-size);
  text-align: center;
  letter-spacing: var(--www-mws-soshk-com-raleway-regular-letter-spacing);
  line-height: var(--www-mws-soshk-com-raleway-regular-line-height);
  font-style: var(--www-mws-soshk-com-raleway-regular-font-style);
}

.talk-to-our-expert .section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0px 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.talk-to-our-expert .section-17 {
  display: flex;
  min-width: 980px;
  align-items: flex-start;
  justify-content: center;
  flex: 0 0 auto;
  background: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/section.png) 50% 50%
    / cover;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.talk-to-our-expert .container-93 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #ffffff;
}

.talk-to-our-expert .container-94 {
  position: absolute;
  width: 1920px;
  height: 1342px;
  top: 0;
  left: 0;
  background-color: var(--wwwmwssoshkcomcream);
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/wow-image---copilot-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.talk-to-our-expert .container-95 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1342px;
  background: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/container.png) 50%
    50% / cover;
}

.talk-to-our-expert .overlap-group-4 {
  position: absolute;
  width: 1216px;
  height: 1250px;
  top: 0;
  left: 350px;
}

.talk-to-our-expert .margin-24 {
  display: flex;
  width: 470px;
  height: 150px;
  padding: 125px 0px 10px 470px;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .vertical-divider-wrapper {
  display: flex;
  flex-direction: column;
  width: 1px;
  height: 15px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-right: -1.00px;
}

.talk-to-our-expert .vertical-divider {
  position: relative;
  flex: 1;
  width: 1px;
  flex-grow: 1;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #090909;
}

.talk-to-our-expert .margin-25 {
  display: flex;
  width: 1212px;
  height: 1158px;
  position: absolute;
  top: 92px;
  left: 4px;
  background-color: #ffffff;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .container-96 {
  display: flex;
  flex-direction: column;
  width: 641px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.talk-to-our-expert .form-wrapper {
  display: flex;
  flex-direction: column;
  width: 1207px;
  height: 1060px;
  align-items: flex-start;
  position: relative;
  margin-right: -566.00px;
}

.talk-to-our-expert .form {
  display: flex;
  flex-direction: column;
  width: 1053px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -15.00px;
}

.talk-to-our-expert .container-97 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1075px;
}

.talk-to-our-expert .margin-26 {
  display: flex;
  width: 400px;
  min-height: 111px;
  padding: 69px 0px 17px;
  position: absolute;
  top: 15px;
  left: 146px;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .container-98 {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 25px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.talk-to-our-expert .label-margin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 9px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.talk-to-our-expert .label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 20px 0px 2px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.talk-to-our-expert .text-wrapper-32 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--wwwmwssoshkcomcod-gray);
  font-size: 13.5px;
  letter-spacing: 0;
  line-height: 14px;
}

.talk-to-our-expert .component-18 {
  position: relative;
  max-width: 400px;
  width: 100%;
  height: 37px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #090909;
}

.talk-to-our-expert .margin-27 {
  display: flex;
  width: 400px;
  min-height: 56px;
  padding: 0px 0px 31px;
  position: absolute;
  top: 299px;
  left: 148px;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .container-99 {
  display: flex;
  flex-direction: column;
  width: 452px;
  min-height: 25px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  margin-right: -52.00px;
}

.talk-to-our-expert .text-wrapper-33 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--wwwmwssoshkcomcod-gray);
  font-size: 13.2px;
  letter-spacing: 0;
  line-height: 14px;
}

.talk-to-our-expert .margin-28 {
  display: flex;
  width: 452px;
  min-height: 45px;
  padding: 0px 0px 20px;
  position: absolute;
  top: 179px;
  left: 148px;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .container-100 {
  display: flex;
  flex-direction: column;
  width: 452px;
  min-height: 25px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.talk-to-our-expert .margin-29 {
  display: flex;
  width: 400px;
  min-height: 56px;
  padding: 0px 0px 31px;
  position: absolute;
  top: 299px;
  left: 668px;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .margin-30 {
  display: flex;
  width: 452px;
  min-height: 45px;
  padding: 0px 0px 20px;
  position: absolute;
  top: 179px;
  left: 668px;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .margin-31 {
  display: flex;
  width: 510px;
  padding: 0px 0px 10px;
  position: absolute;
  top: 421px;
  left: 146px;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .radiogroup-wrapper {
  display: flex;
  flex-direction: column;
  width: 510px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.talk-to-our-expert .div-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.talk-to-our-expert .legend {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.talk-to-our-expert .text-wrapper-34 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--wwwmwssoshkcomcod-gray);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 14px;
}

.talk-to-our-expert .label-2 {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.talk-to-our-expert .border-2 {
  position: relative;
  width: 18px;
  height: 18px;
  z-index: 1;
  border-radius: 9px;
  border: 1px solid;
  border-color: #090909;
}

.talk-to-our-expert .margin-32 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0px 11px;
  position: relative;
  flex: 0 0 auto;
  z-index: 0;
}

.talk-to-our-expert .text-wrapper-35 {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--wwwmwssoshkcomcod-gray);
  font-size: 12.5px;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
}

.talk-to-our-expert .text-wrapper-36 {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--wwwmwssoshkcomcod-gray);
  font-size: 11.8px;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
}

.talk-to-our-expert .text-wrapper-37 {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--wwwmwssoshkcomcod-gray);
  font-size: 12.1px;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
}

.talk-to-our-expert .text-wrapper-38 {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--wwwmwssoshkcomcod-gray);
  font-size: 13.1px;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
}

.talk-to-our-expert .margin-33 {
  display: flex;
  width: 280px;
  height: 46px;
  padding: 0px 0px 10px;
  position: absolute;
  top: 1052px;
  left: 485px;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .button-send-wrapper {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 280px;
  height: 36px;
}

.talk-to-our-expert .button-send {
  all: unset;
  box-sizing: border-box;
  height: 36px;
  background-color: var(--wwwmwssoshkcomtundora);
  border: 1px solid;
  border-color: #464646;
}

.talk-to-our-expert .container-101 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: 8px;
  left: 121px;
}

.talk-to-our-expert .text-wrapper-39 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--www-mws-soshk-com-semantic-button-font-family);
  font-weight: var(--www-mws-soshk-com-semantic-button-font-weight);
  color: #fdfdfd;
  font-size: var(--www-mws-soshk-com-semantic-button-font-size);
  letter-spacing: var(--www-mws-soshk-com-semantic-button-letter-spacing);
  line-height: var(--www-mws-soshk-com-semantic-button-line-height);
  white-space: nowrap;
  font-style: var(--www-mws-soshk-com-semantic-button-font-style);
}

.talk-to-our-expert .margin-34 {
  display: flex;
  width: 465px;
  padding: 0px 0px 48px;
  position: absolute;
  top: 593px;
  left: 150px;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .container-102 {
  display: flex;
  flex-direction: column;
  width: 465px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.talk-to-our-expert .mask-group {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -1px;
  left: 425px;
}

.talk-to-our-expert .div-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.talk-to-our-expert .text-wrapper-40 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: var(--www-mws-soshk-com-semantic-legend-font-family);
  font-weight: var(--www-mws-soshk-com-semantic-legend-font-weight);
  color: #000000;
  font-size: var(--www-mws-soshk-com-semantic-legend-font-size);
  letter-spacing: var(--www-mws-soshk-com-semantic-legend-letter-spacing);
  line-height: var(--www-mws-soshk-com-semantic-legend-line-height);
  font-style: var(--www-mws-soshk-com-semantic-legend-font-style);
}

.talk-to-our-expert .label-3 {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.talk-to-our-expert .border-3 {
  position: relative;
  width: 18px;
  height: 18px;
  z-index: 1;
  border: 1px solid;
  border-color: #000000;
}

.talk-to-our-expert .margin-35 {
  display: inline-flex;
  padding: 0px 0px 0px 13px;
  position: relative;
  flex: 0 0 auto;
  z-index: 0;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .text-wrapper-41 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--www-mws-soshk-com-semantic-label-font-family);
  font-weight: var(--www-mws-soshk-com-semantic-label-font-weight);
  color: #000000;
  font-size: var(--www-mws-soshk-com-semantic-label-font-size);
  letter-spacing: var(--www-mws-soshk-com-semantic-label-letter-spacing);
  line-height: var(--www-mws-soshk-com-semantic-label-line-height);
  white-space: nowrap;
  font-style: var(--www-mws-soshk-com-semantic-label-font-style);
}

.talk-to-our-expert .margin-36 {
  display: flex;
  width: 450px;
  height: 67px;
  padding: 0px 0px 47px;
  position: absolute;
  top: 939px;
  left: 140px;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .container-103 {
  display: flex;
  flex-direction: column;
  width: 450px;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -31.00px;
}

.talk-to-our-expert .label-4 {
  display: flex;
  align-items: flex-start;
  padding: 0px 20px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.talk-to-our-expert .text-wrapper-42 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: var(--www-mws-soshk-com-semantic-label-font-family);
  font-weight: var(--www-mws-soshk-com-semantic-label-font-weight);
  color: #000000;
  font-size: var(--www-mws-soshk-com-semantic-label-font-size);
  letter-spacing: var(--www-mws-soshk-com-semantic-label-letter-spacing);
  line-height: var(--www-mws-soshk-com-semantic-label-line-height);
  font-style: var(--www-mws-soshk-com-semantic-label-font-style);
}

.talk-to-our-expert .component-19 {
  position: relative;
  max-width: 450px;
  width: 450px;
  height: 35px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #000000;
}

.talk-to-our-expert .rectangle-2 {
  position: absolute;
  width: 159px;
  height: 51px;
  top: 30px;
  left: 53px;
}

.talk-to-our-expert .header-2 {
  display: flex;
  flex-direction: column;
  width: 1860px;
  height: 100px;
  align-items: flex-start;
  padding: 21.45px 32px 21.46px;
  position: absolute;
  top: 0;
  left: 30px;
  background-color: #ffffff;
}

.talk-to-our-expert .section-18 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.talk-to-our-expert .container-104 {
  display: flex;
  height: 19px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.talk-to-our-expert .container-105 {
  display: flex;
  width: 108.61px;
  height: 66px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: -47.00px;
}

.talk-to-our-expert .container-106 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.talk-to-our-expert .container-107 {
  display: flex;
  flex-direction: column;
  max-width: 108.61px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.talk-to-our-expert .div-wrapper-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.talk-to-our-expert .link-5 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.talk-to-our-expert .SOS-group-limited-3 {
  position: relative;
  max-width: 108.61px;
  width: 46.89px;
  max-height: 46.4px;
  height: 46.39px;
  background-image: url(https://c.animaapp.com/mf43c8cgVWF4Qf/img/sos-group-limited-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.talk-to-our-expert .container-108 {
  display: flex;
  width: 450.86px;
  height: 66px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: -47.00px;
}

.talk-to-our-expert .container-109 {
  display: flex;
  flex-direction: column;
  max-width: 450.86px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.talk-to-our-expert .text-wrapper-43 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 700;
  color: #727171;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
}

.talk-to-our-expert .container-110 {
  display: flex;
  width: 1230.5px;
  height: 66px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: -47.00px;
}

.talk-to-our-expert .container-111 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0px -0.02px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.talk-to-our-expert .margin-37 {
  display: inline-flex;
  max-width: 1230.5px;
  padding: 8px 0px;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .div-wrapper-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  flex: 0 0 auto;
}

.talk-to-our-expert .list-3 {
  display: flex;
  width: 804px;
  height: 27px;
  align-items: flex-start;
  position: relative;
}

.talk-to-our-expert .component-20 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 20.8px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -19.00px;
  z-index: 5;
}

.talk-to-our-expert .text-10 {
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #182124;
  font-size: 13px;
  letter-spacing: 1.00px;
  line-height: 19.5px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
}

.talk-to-our-expert .component-21 {
  z-index: 4;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 20.8px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -19.00px;
}

.talk-to-our-expert .text-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  color: #182124;
  font-size: 13px;
  line-height: 13px;
}

.talk-to-our-expert .text-wrapper-44 {
  font-weight: 600;
  letter-spacing: 0.13px;
  line-height: 19.5px;
}

.talk-to-our-expert .component-22 {
  z-index: 3;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 20.8px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -19.00px;
}

.talk-to-our-expert .component-23 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 20.8px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -19.00px;
  z-index: 2;
}

.talk-to-our-expert .text-12 {
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #bdaa80;
  font-size: 13px;
  letter-spacing: 1.00px;
  line-height: 19.5px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
}

.talk-to-our-expert .component-24 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 20.8px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -19.00px;
  z-index: 1;
}

.talk-to-our-expert .component-25 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 20.8px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -19.00px;
  z-index: 0;
}

.talk-to-our-expert .margin-38 {
  display: inline-flex;
  max-width: 1241.7px;
  padding: 8px 0px 8px 11.2px;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.talk-to-our-expert .component-26 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 13px 39px;
  position: relative;
  flex: 0 0 auto;
  background-color: #182124;
  border-radius: 60px;
  overflow: hidden;
}

.talk-to-our-expert .text-13 {
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  line-height: 13px;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
}

.talk-to-our-expert .text-wrapper-45 {
  font-weight: 600;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.talk-to-our-expert .section-19 {
  height: 58px;
  margin-bottom: -19.91px;
  position: relative;
  align-self: stretch;
  width: 100%;
}
